<%- include('header',{
  title:'Login'
}); -%>
<div class="container">
  <h1>Login</h1>
  <form method="post" action="/login">
      <label for="user_email">Email</label>
      <input type="email"  class="input"  id="user_email" placeholder="Email Address" name="email" required">
      <label for="user_pass">Password</label>
      <input type="password" class="input" id="user_pass" placeholder="Password" name="password" required">
      <% if(typeof alertMsg !== 'undefined'){ %>
      <div class="err-msg"><%= alertMsg %></div><% } %> 
      
      <button type="submit">Login </button>    
      <div class="link"><a href="/register">Sign Up</a></div>
  </form>
</div>
<%- include('footer'); -%>
